<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="node_modules/chart.js/dist/Chart.bundle.js"></script>
  <script src="node_modules/chart.js/samples/utils.js"></script>
</head> 

<body>
<div id="canvas-holder" style="width:40%">
  <canvas id="chart-area" />
</div>
</body>

<script>
var config = {
        type: 'pie',
        data: {
            labels: [
                "Infrastructure",
                "Education",
                "Health Care",
                "Libraries",
                "Public Transportation",
                "Economic Development",
                "Parks and Recreation",
                "Pension/Health Benefits for Public Employees",
                "Assistance to low-income households",
                "Corrections",
                "Urban Housing",
            ],
            datasets: [{
                data: [
                   1,1,1,1,1,1,1,1,1,1,1 
                ],
                backgroundColor: [
                    '#43A60A',
                    '#572725',
                    '#0E9C9C',
                    '#D1B91B',
                    '#ED3743',
                    '#BF2BCF',
                    '#7ABF98',
                    '#ED47D7',
                    '#584FDB',
                    '#A4D93B',
                    '#EDA109',
                ],
                label: 'Suggested proportions for spending the tax revenue of' + 'State1'
            }],
        },

        options: {
            responsive: true
        }
    };

    window.onload = function() {
        var ctx = document.getElementById("chart-area").getContext("2d");
        window.myPie = new Chart(ctx, config);
    };

</script>

</html>