<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="Chart.bundle.js"></script>
  <script src="utils.js"></script>
</head> 

<body>

<div>
  <p>This pie chart shows how the various ways your state collects tax revenue.</p>        
</div>    

<div id="canvas-holder" style="width:40%">
  <canvas id="chart-area" />
</div>

<div>
  <p>Now it's time for your voice to be heard! In the form below, we've provided the 11 most popular areas for state spending. Use the spaces provided to show how your state should spend its budget.<br>Fill in "0" for areas you'd like to leave blank.<br>Once all answers are filled in, click submit to view what the residents of your state are saying!</p>       
</div> 

<div id="AnsweringForm">
  <form action="userdata" method="get" id="ResponseForm">
    <input type="hidden" name="state" value="{{statename}}">
    Infrastructure:<br>
    <input type="number" min="0" max="100" name="infrastructure" id="prop1"><br>
    Education:<br>
    <input type="number" min="0" max="100" name="education" id="prop2"><br>
    Healthcare:<br>
    <input type="number" min="0" max="100" name="healthcare" id="prop3"><br>
    Libraries:<br>
    <input type="number" min="0" max="100" name="libraries" id="prop4"><br>
    Public Transportation:<br>
    <input type="number" min="0" max="100" name="publictransportation" id="prop5"><br>
    Economic Development:<br>
    <input type="number" min="0" max="100" name="economicdevelopment" id="prop6"><br>
    Parks and Recreation:<br>
    <input type="number" min="0" max="100" name="parksandrecreation" id="prop7"><br>
    Pension/Health Benefits to Public Employees:<br>
    <input type="number" min="0" max="100" name="pensions" id="prop8"><br>
    Assistance to Low-Income Households:<br>
    <input type="number" min="0" max="100" name="lowincomeassistance" id="prop9"><br>
    Corrections:<br>
    <input type="number" min="0" max="100" name="corrections" id="prop10"><br>
    Urban Housing:<br>
    <input type="number" min="0" max="100" name="urbanhousing" id="prop11"><br>
    <input type="submit">
  </form>
</div>

  <script>

    var config = {
        type: 'pie',
        data: {
            labels: [
                "Property",
                "Sales",
                "License",
                "Income",
                "Other",
            ],
            datasets: [{
                data: {{data}},
                backgroundColor: [
                    '#43A60A',
                    '#572725',
                    '#0E9C9C',
                    '#D1B91B',
                    '#ED3743',
                    '#BF2BCF',
                    '#7ABF98',
                    '#ED47D7',
                    '#584FDB',
                    '#A4D93B',
                    '#EDA109',
                ],
                label: 'Taxes for' + 'State1'
            }],
        },

        options: {
            responsive: true
        }
    };

    window.onload = function() {
        var ctx = document.getElementById("chart-area").getContext("2d");
        window.myPie = new Chart(ctx, config);
    };
  </script>
</body>
</html>