<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="Chart.bundle.js"></script>
  <script src="utils.js"></script>
</head> 

<body>

<div>
  <h2>Tax Revenue Collected by your State</h2>        
</div>    

<div id="canvas-holder" >
  <canvas id="chart-area" />
</div>

<div id="directions">
  <h2>Now it's time for your voice to be heard!</h2>
  <p> In the form below enter the percent amount of your state's tax revenue that you want spent on each item. </p>       
</div> 

<div id="AnsweringForm">
  <form action="userdata" method="get" id="ResponseForm">
    <input type="hidden" name="state" value="{{statename}}">
    Infrastructure:
    <input type="number" min="0" max="100" name="infrastructure" id="prop1" value="0"><br><br>
    Education:
    <input type="number" min="0" max="100" name="education" id="prop2" value="0"><br><br>
    Healthcare:
    <input type="number" min="0" max="100" name="healthcare" id="prop3" value="0"><br><br>
    Libraries:
    <input type="number" min="0" max="100" name="libraries" id="prop4" value="0"><br><br>
    Public Transportation:
    <input type="number" min="0" max="100" name="publictransportation" id="prop5" value="0"><br><br>
    Economic Development:
    <input type="number" min="0" max="100" name="economicdevelopment" id="prop6" value="0"><br><br>
    Parks and Recreation:
    <input type="number" min="0" max="100" name="parksandrecreation" id="prop7" value="0"><br><br>
    Pension/Health Benefits to Public Employees:
    <input type="number" min="0" max="100" name="pensions" id="prop8" value="0"><br><br>
    Assistance to Low-Income Households:
    <input type="number" min="0" max="100" name="lowincomeassistance" id="prop9" value="0"><br><br>
    Corrections:
    <input type="number" min="0" max="100" name="corrections" id="prop10" value="0"><br><br>
    Urban Housing:
    <input type="number" min="0" max="100" name="urbanhousing" id="prop11" value="0"><br><br>
    <input type="submit">
  </form>
</div>

  <script>

    var config = {
        type: 'pie',
        data: {
            labels: [
                "Property",
                "Sales",
                "License",
                "Income",
                "Other",
            ],
            datasets: [{
                data: {{data}},
                backgroundColor: [
                    '#43A60A',
                    '#572725',
                    '#0E9C9C',
                    '#D1B91B',
                    '#ED3743',
                    '#BF2BCF',
                    '#7ABF98',
                    '#ED47D7',
                    '#584FDB',
                    '#A4D93B',
                    '#EDA109',
                ],
                label: 'Taxes for' + 'State1'
            }],
        },

        options: {
            responsive: true
        }
    };

    window.onload = function() {
        var ctx = document.getElementById("chart-area").getContext("2d");
        window.myPie = new Chart(ctx, config);
    };
  </script>
</body>
</html>